models
/images/
# datasets
outputs
draft
/runs/detect/

# Label cache file (preprocessed dataset annotations cache)
labels.cache

# Models files
/*.pt 

# Dataset files and folders (excluded to keep the repository lightweight)
test/
train/
valid/
data.yaml